@model DuAnEnglish.Models.KhoaHoc
@{
    if (Session["Role"] != null && Session["Role"].ToString() == "hocvien") // Sửa điều kiện phù hợp với kiểu dữ liệu
    {
        Layout = "~/Views/Shared/_LayoutHocVien.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@{
    ViewBag.Title = "Chi tiết khóa học";
}

<h2>@Model.TenKhoaHoc</h2>

<div class="row">
    <!-- Cột bên trái: Hình ảnh khóa học -->
    <div class="col-md-6">
        <img src="~/Images/@Model.HinhAnhKH" class="img-fluid" alt="Hình ảnh khóa học" />
    </div>

    <!-- Cột bên phải: Thông tin chi tiết khóa học -->
    <div class="col-md-6">
        <h4>Thông tin chi tiết:</h4>
        <p><strong>ID Khóa Học:</strong> @Model.IDKhoaHoc</p>
        <p><strong>Mô Tả:</strong> @Model.MoTa</p>
        <p><strong>Học Phí:</strong> @String.Format("{0:N0} VNĐ", Model.HocPhi)</p>
        <br />
        <a href="@Url.Action("DanhSachLopHoc", "LopHoc", new { id = Model.IDKhoaHoc })" class="btn btn-success">Xem lớp học</a>
    </div>
</div>

<!--<hr />-->
